<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requisição de Acesso</title>
    <link rel="stylesheet" href="/css/requisicao.css">
</head>
<body>
    <div class="access-box">
        <h2>Solicitação de Acesso</h2>
        <form action="/solicitar-acesso" method="POST">
            <input type="email" id="email" name="email" placeholder="Email" required>
            <button type="submit" class="access-btn">Solicitar Acesso</button>
        </form>
    </div>

    <footer>&copy; 2025 A.L.P Philips. Todos os direitos reservados.</footer>
</body>
</html>
